.card {
    position: relative;
    width: 50vw;
    height: 30vw;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover {
    transform: rotate3d(1, 1, 0, 18deg);
}

.cardface {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
    border-radius: 1vw;
    background-color: #262626;
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.cardfaceFront {
    transform: none;
}

.isFlipped .cardfaceFront {
    transform: rotate3d(0, 1, 0, 180deg);
}

.cardfaceBack {
    transform: rotate3d(0, 1, 0, 180deg);
    color: #262626;
    background-color: #aaaaaa;
}

.isFlipped .cardfaceBack {
    transform: rotate3d(0, 1, 0, 360deg);
}
